/* .profiltBalance-container {
  border: 1px solid rgba(43, 45, 52, 0.5);
  background: linear-gradient(
    252deg,
    rgba(67, 72, 102, 0.3) 5.4%,
    rgba(28, 29, 35, 0.3) 95.39%
  );
  backdrop-filter: blur(32px);
} */
